body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #1c478e;
	background-image:url(../imagenes/background.png);
	background-repeat:repeat-x;
}

*{
	margin: 0 auto 0 auto;
	text-align:left;
}

p{
	margin:10px 0 10px 0;
	text-align:justify;
	
}
footer{
	margin-top:100px;
	margin-left: : 1000px;
	width: 1150px;
	height: 100px;
	background: black;
	color:white;
	float:left;
	border-style: solid;
	border-color: #FFFFFF;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-bottom: 30px;
}
#container{
	width: 1150px;
	
}
#header{
	height:85px;
	width:960px;	
}

#header h1{
    float:center;
    padding:20px 0 0 20px;
	text-align:left;
	color:#FFFFFF;
	font-size:43px;
	color:#FFF;	
}
#menu{

	display:block;
	float:left;
	clear:both;
	width:960px;
	height:44px;
	float:left;
	clear:both;
}
ul, ol {

	list-style: none;
}
.nav  li a{

	padding: 0px;	
    list-style: none;
    font-size: 15px;
	display: block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	padding-left:13px;
	padding-right:13px;
}
.nav li a:hover{

	color: #86AEF9;
}
.nav  > li {

	float:left;
	list-style: none;
	padding: 0px;
}
.nav li ul{
	list-style: none;
	display:none;
	position: absolute;
	padding: 0px;
	margin-left:auto;
}
.nav li:hover > ul{

	display:block; 
}

#leftmenu{
	margin-top:205px;
	width:190px;
	float:left;
	background-color:#1C478E;
	border-radius:10px;
	padding:15px 20px 5px 10px;
}

#leftmenu ul{
	list-style: none;
	padding: 0px;
	width:204px;
}


#leftmenu h2{
	list-style: none;
	padding: 0px;
	color:#FFFFFF;
	padding-bottom:7px;
	border-bottom:2px solid #fff;
}

#leftmenu ul li{
	list-style: none;
	padding:15px 0 8px 0;
	border-bottom:#fff dashed 1px;
	
}

#leftmenu ul li , #leftmenu ul li {
	color:black;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}

#leftmenu ul li {
	color:black;
	
	
}
.blue-text{
	color:#67A0F5;
}
.white-text{
	color:#fff;
}
#content{
	display:block;
	float:left;
	margin-top:205px;
	margin-left:25px;
	width:850px;
	height:650;
	background:#fff;
	padding:15px;
	border-radius:10px;
	border:6px solid #1C478E;
	text-align:left;
	
}
#content img.float{
	float:right;
	margin:15px;
}
#content h2{
	font-size:18px;
	font-weight:bold;
	padding:10px 0 10px 0;
	color:black;
	text-align:center;
}

#footer{
  
	padding: 20px;
	font-size: 14px;
	text-decoration: bold;
}
#footer img.float{
	float:right;
	margin:5px;
}